@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); 

/* Sidebar */
#sidebar {
    width: 250px;
    background-color: #CA5297; /* Rosa padrão */
    height: 100vh;
    color: white;
    padding: 0;
}

#sidebar .nav-link {
    font-size: 1.2rem;
    margin: 10px 0;
}

#sidebar .nav-link.active {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
}

#sidebar .img-fluid {
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    object-fit: cover; /* Garante que a imagem não distorça */
    border: 2px solid #ffffff; 
}


/* Navbar */
.navbar .perfil-navbar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-left: 15px;
    border: 2px solid #8a8a8a;
}

/* Cards de agendamento */
.card {
    border: none;
    background-color: #ca52962a;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.card-body img {
    border: 2px solid #636363;
}

h1 {
    color: #000000;
}


/* Cor dos botões na Navbar */
.navbar .btn-outline-dark {
    background-color: #CA5297; /* Cor de fundo */
    color: white; /* Cor do texto */
}

.btn-outline-dark:hover{
    background-color: #804000;
}

.navbar .btn-outline-secondary {
    background-color: #292929; /* Cor de fundo */
    color: white; /* Cor do texto */
}

.btn-outline-secondary:hover{
    background-color: #804000;
}

.navbar .btn-pink {
    background-color: #CA5297; /* Cor de fundo */
    color: white; /* Cor do texto */
}

.btn-pink:hover{
    background-color: #a55402;
}


/* Cor dos botões no formulário */
.form-control {
    border-color: #011f5f; /* Cor da borda dos campos de input */
}

.btn-dark {
    background-color: #CA5297; 
    color: white; 
}

.btn-dark:hover{
    background-color: #a55402;
}

.btn-secondary {
    background-color: #6c757d; /* Cor de fundo */
    color: white; /* Cor do texto */
}

/* Adicionar margem à direita nos botões da navbar */
.navbar .btn-outline-secondary {
    margin-right: 10px; /* Ajuste a margem conforme necessário */
}

/* Adicionar margem à esquerda na barra de pesquisa */
.navbar .form-inline {
    margin-left: 20px; /* Ajuste a margem conforme necessário */
}
